@{
    ViewData["Title"] = "Privacy Policy";
}

<h1>@ViewData["Title"]</h1>

<p>From single website owners to agencies, eCommerce and enterprise companies, everyone has to be compliant with national and international privacy laws, like the GDPR. With iubenda’s Privacy Policy Generator you can create beautiful, professional lawyer-crafted privacy policies.</p>
<p>You can think of our Privacy Policy Generator as an advanced and interactive privacy policy creator that is both free and very flexible, but has paid upgrades. That’s how we make sure your free privacy policies are as high quality as possible and we provide the additional benefit of more advanced features at a very affordable price.</p>
<p>In that spirit, we wanted to talk about our free privacy policy which means you’re able to generate and use it on your website for completely free.</p>
<p>Many of our clauses and policies will fall within the category of free. The chances are that if you need a simple privacy policy for your website as for example including a clause for Google Analytics and a contact form, you will find that iubenda’s Privacy Policy Generator is the perfect partner for you.</p>
<p>The solution to generate your Privacy Policy. Customizable from 1700+ clauses, available in 9 languages and self-updating</p>