@*@page
@model Mvc5Demo.Views.Mock.TemperatureModel
@{

}
<div>
    <h1>Temperature Conversion</h1>
    <form name="TemperatureForm" id="TemperatureForm" method="Post">
        Temperature [Celcius]:
        <br />
        <input name="TemperatureCelcius" type="number" class="form-control-lg" autofocus required value="@Model.CelciusTemperature"
        <br />

        Temperature [Fahrenheit]:
        <br />
        <input name="TemperatureCelcius" type="number" class="form-control-lg" autofocus required value="@Model.CelciusTemperature"
        <br />

        <input id="ConvertButton" type="submit" value="Convert" class="btn btn-info" />
    </form>
</div>
*@