@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">THIS IS THE MOCK WEB UI FOR MVC</h1>
    <p>Information about <a href="https://developers.google.com/blogger/docs/3.0/using">Google developer blogger</a>.</p>
    <p>Information about <a href="https://umbraco.com/blog/">Umbraco blogs</a>.</p>
    <p>Get method <a href="https://deliverywebapi.azurewebsites.net/api/orders?minimal=true">Mock Api</a>.</p>
</div>

